<!DOCTYPE html>
<html lang="da"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Tilføj Attraktion</title>
    <link rel="stylesheet" th:href="@{/css/Styles.css}">
</head>
<body>

<header>
    <h1>Tilføj en ny turistattraktion</h1>
</header>

<div class="container">
    <form action="#" th:action="@{/attractions/save}" th:object="${touristAttraction}" method="post">
        <label for="name">Navn:</label>
        <input type="text" id="name" th:field="*{name}" required>

        <label for="description">Beskrivelse:</label>
        <input type="text" id="description" th:field="*{description}" required>

        <label for="lokation">Lokation</label>
        <input type="text" id="lokation" th:field="*{lokation}" required>

        <label>Tags:</label>
        <fieldset>
        <div th:each="tag : ${tagsList}">
            <input type="checkbox" th:field="*{tags}" th:value="${tag}" />
            <label th:text="${tag.displayName}"></label>
        </div>
        </fieldset>

        <button type="submit">Tilføj</button>
    </form>
</div>
<nav>
    <a th:href="@{/attractions}" class="back-button">
        <button>Tilbage til listen</button></a>
</nav>

</body>
</html>