<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction Details</title>
    <link rel="stylesheet" href="/css/Styles.css">
</head>
<body>

<header>
    <h1>Attraktioner i Danmark</h1>
</header>

<div class="container">
    <h2>Oplev <span th:text="${touristAttraction.name}"></span></h2>
    <p><span th:text="${touristAttraction.description}"></span></p>
</div>
<nav>
    <a th:href="@{/}" class="back-button">
        <button>Tilbage til forsiden</button>
    </a>
</nav>

<footer>
    <p><strong>Kontakt</strong></p>
    <p>info@TuristGuiden.dk</p>
    <p>+45 98 76 54 32</p>
</footer>

</body>
</html>
