<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Turistattraktioner</title>
  <link rel="stylesheet" th:href="@{/css/Styles.css}">
</head>
<body>

<header>
  <h1>Turistattraktioner i Danmark</h1>
</header>

<div class="container">
  <h2>Udforsk populære attraktioner</h2>
  <ul>
    <li th:each="attraction : ${allAttractions}">
      <strong th:text="${attraction.name}"></strong>:
      <span th:text="${attraction.description}"></span>
      <span th:text="${attraction.lokation}"></span>


      <a th:href="@{/attractions/tags/{name}(name=${attraction.name})}" class="update_button">
        <button>Tags</button>
      </a>
      <a th:href="@{/attractions/update/{name}(name=${attraction.name})}" class="update_button">
        <button>- Opdater</button>
      </a>
      <!--Generer en dynamisk URL ved at indsætte værdien af attraction.name i URL'en - Mellemrum bliver til %20-->
      <a th:href="@{/attractions/delete/{name}(name=${attraction.name})}" class="update_button">
        <button>- Slet</button>
      </a>
    </li>
  </ul>
  <a th:href="@{/attractions/add}">
    <button>Tilføj attraktion</button>
  </a>
</div>
<nav>
  <a th:href="@{/}" class="back-button">
    <button>Tilbage til forsiden</button>
  </a>
</nav>

<footer>
  <p>Kontakt os på: turistguide@danmark.dk</p>
</footer>

</body>
</html>
