<!DOCTYPE html>
<html lang="da"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Bekræft Sletning</title>
    <link rel="stylesheet" href="/css/Styles.css">
</head>
<body>

<header>
    <h1>Er du sikker på, at du vil slette denne attraktion?</h1>
</header>

<div class="container">
    <form action="#" th:action="@{/attractions/delete}" th:object="${touristAttraction}" method="post">
        <input type="hidden" th:field="*{attractionId}" />

        <p><strong>Navn:</strong> <span th:text="*{name}"></span></p>
        <p><strong>Beskrivelse:</strong> <span th:text="*{description}"></span></p>

        <button type="submit">Slet</button>
    </form>

    <a href="/attractions">Tilbage til listen</a>
</div>

</body>
</html>
