<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Turistguide</title>
  <link rel="stylesheet" th:href="@{/css/Styles.css}">
</head>
<body>
  <header>
    <h1>Oplev Danmark</h1>
  </header>


  <div class="container">
    <h2>Om turistguiden</h2>
    <p>
      Turistguiden hjælper dig med at finde spændende turistattraktioner i Danmark.
      Uanset om du er lokal eller besøgende, giver vi dig inspiration til steder, du kan opleve.
    </p>
  </div>
  <nav class="container">
    <h2>Udvalgte Attraktioner</h2>
    <ul>
      <li><a th:href="@{/attractions/tivoli}">Tivoli</a></li>
      <li><a th:href="@{/attractions/den Lille Havfrue}">Den Lille Havfrue</a></li>
    </ul>

    <h2>Links</h2>
    <ul>
      <li><a th:href="@{/attractions}">Se Alle Attraktioner</a></li>
    </ul>
  </nav>



  <footer>
    <p><Strong>Kontakt</Strong></p>
    <p>info@TuristGuiden.dk</p>
    <p> +45 98 76 54 32</p>
  </footer>


</body>
</html>