<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attraktion tags</title>
    <link rel="stylesheet" th:href="@{/css/tags.css}">
</head>

<body>

<h1 th:text="'Tags for ' + ${attraction.name}"></h1th:text></h1>

<p><strong>By:</strong> <span th:text="${touristAttraction.getLokation().displayName}"></span></p>

<h3>Tags:</h3>
<ul>
    <li th:each="tag : ${touristAttraction.getTags()}" th:text="${tag.displayName}"></li>
</ul>

<a th:href="@{/attractions}">
    <button>Tilbage til liste</button>
</a>

<!-- Footer -->
<footer id="contact">
    <p><strong>Kontakt</strong></p>
    <p>Email: <a href="mailto:info@Turistguiden.dk">info@Turistguiden.dk</a></p>
    <p>Telefon: +45 98 76 54 32</p>
    <p>Adresse: Rejsevej 69, 2200 København </p>
</footer>

</body>
</html>