<!DOCTYPE html>
<html lang="da"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Opdater Attraktion</title>
    <link rel="stylesheet" th:href="@{/css/Styles.css}">
</head>
<body>

<header>
    <h1>Ændring af informationer</h1>
</header>

<div class="container">
    <form action="#" th:action="@{/attractions/update/}" th:object="${touristAttraction}" method="post">
        <input type="hidden" th:field="*{name}" />

        <label for="description">Beskrivelse:</label>
        <input type="text" id="description" th:field="*{description}" />

        <label for="lokation">Lokation:</label>
        <input type="text" id="lokation" th:field="*{lokation}">

        <label>Vælg Tags:</label>
        <div th:each="tag : ${tagList}">
            <input type="checkbox" th:field="*{tags}" th:value="${tag.name()}"
                   th:checked="${#lists.contains(touristAttraction.tags, tag)}"/>
            <label th:for="${tag.name()}" th:text="${tag.name()}"></label>
        </div>

        <button type="submit">Opdater</button>
    </form>
</div>
<nav>
    <a th:href="@{/attractions}" class="back-button">
        <button>Tilbage til listen</button>
    </a>
</nav>

</body>
</html>
